# Dependencies
venv/
.venv/
__pycache__/
.mypy_cache/
.pytest_cache/
*.egg-info/
build/
dist/

# Environment
.env
.env.local
*.env.*

# Logs and temporary files
*.log
*.tmp
*.swp

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python specific
*.pyc
*.pyo
*.pyd
.Python
